.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 15px;
}
.header_logo h3{
    margin: 0px;
    font-weight: 700px;
    font-size: 30px;
    color: orange;
  }
  .header_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .search_bar{
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .search_bar input{
    padding: 10px;
    border-radius: 20px; 
    border: none;
    outline: none;
    box-shadow: none;
    background-color: white;

  }
  nav{
    display: flex;
    gap: 10px;
  }
  nav li{
    list-style: none;
  }
   a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    gap: 10px;
    align-items: center;

  }
  .search_bar button{
    color: white;
    background-color: orange;
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;

  }
  .search_icon{
    background-color: white;
    /* padding: 10px; */
    border-radius: 50px;
    display: flex;
    gap: 5px;
    align-items: center;
    border:1px solid grey;
   
  }
  .search_icon i {
    padding-left: 10px;
  }
  .hero_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;

  }
  .content{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   gap: 20px;
  }
  .content h2{
    font-size: 54px;
    margin: 0px;
    font-weight: 700px;
    color:white;
  }
  .content p {
    margin: 0px;
    font-size: 30px;
    font-weight: 700px;
    color: white;
  }
.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: antiquewhite;
    height: 100Vh;
}
.side_nav{
    background-color:white ;
}
.blog_content_sec{
    background-color: white;
}
.side_nav_button{
    /* display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;  */
}
.side_nav{
    border-right: 2px solid rgb(206, 207, 208);
    /* display: flex; */
    text-align: center;
    padding: 25px;
    /* align-items: center; */
    /* justify-content: center;  */
    /* flex-direction: column;  */
}
.side_nav_btn button{
    padding: 15px 20px;
    width: 100%;
    /* background-color: chocolate; */
    border: none;
 
    border-radius: 16px;
    color: gray;
    font-weight: 700;
    font-size: 16px
}
.side_nav_btn {
  display: flex;
gap: 15px;
flex-direction: column;

} 
.card{
  display: flex;
  flex-direction: column;
  padding: 15px 18px 15px 15px;
  gap: 30px;
  justify-content: center;
  position: absolute;
  top: 200px;
  left: 500px;
  display: none;
  z-index: 2;
  /* text-align: center; */
  /* width: 50%; */
  background-color: white;
  /* margin-left:50px ; */
}
.form-control{
  width: 95%;
  padding: 15px;
}
.card_btn {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  /* padding-top:30px ; */


}
.card_btn button{
  padding: 15px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: rgb(176, 175, 175);
  border-radius: 16px;
  border: none;
}
.card_body{
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* justify-content: center;
  align-items: center; */
}
.card-title{
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin: 0;
}
.card-text{
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  margin: 0;
}
.card_body label{
  font-size: 16px;
  font-weight: 700;
}
.overlay{
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: rgba(5, 3, 11, 0.20);
  top: 0;
  display: none;
  backdrop-filter: blur(3px);
}
.article_ul li a span{
  color: black;
}
.blog_adding{
  padding: 15px;
}
.article_ul li a {
  display: flex;
  justify-content: space-between;
}
